.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .card {
    display: inline-block;
  }

  .nav{
    overflow: hidden;
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }


  
  .flex-container {
  display: flex;
  flex-wrap: nowrap;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  
}
    .card {
      display: inline-block;
      
    }
    .card {
      width: 250px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
    }
  .scrolling-wrapper {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    * The navigation bar */
  .navbar {
    float: right;
    overflow: hidden;
    background-color: #333;
    top: 0; 
    width: 100%; }
  
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    margin-top: 30px; 
  }
  