.alignment{
    padding-top: 100px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 280px;
    align-content: center;
  }
  
  .container{
    align-content: center;  
  }
  
 .imageSize{
 	width:400px;
 	height:200px;
 }
  
 .textStyle{
  	font-size: 15px;
 	background-color:black;
 	color:white;
 }
