.nav{
    overflow: hidden;
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .h
  {
    float: right;
    margin-right: 5%;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    
  }