<!Doctype html>
<html xmlns:th="http://www.thymeleave.org" lang="eng">
<head>  
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<body>
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/banner/listall}">Altarguild</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active">Admin Page<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" th:href="@{/eventhome}">Events Home</a>
      <a class="nav-item nav-link" th:href="@{/guild/list}">Member information</a>
      <a class="nav-item nav-link" th:href="@{/responsibilities/list}">Responsibilities</a>
      <a class="nav-item nav-link" th:href="@{/banner/listall}">All Seasons</a>
      <a class="nav-item nav-link" th:href="@{/login/showLoginForm}">Logout</a>
    </div>
  </div>
</nav>
</head>
<form id="AdminPage" th:action="@{/hot-deal-step-1}">
    <div class="col-xs-12 col-sm-6 col-md-6">    
        <a  class="btn btn-success" onClick="addGuildMember()">Add Guild Member</a>
         <a  class="btn btn-success" onClick="addBanner()">Add Banner</a>
    </div>
</form>
<script th:inline="javascript">
  function addGuildMember() {
    var password = prompt("Please enter valid password");
    if (password == "12345") {
   window.location = "/guild/showFormForAdd";
    }
    else{
    alert("please enter correct password");
    }     
    }
    function addBanner() {
    var password = prompt("Please enter valid password");
    if (password == "12345") {
   window.location = "/banner/addBanner";
    }
    else{
    alert("please enter correct password");
    }     
    }
  </script>
</body>
</html>

