<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Banners</title>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
        <ul class="nav navbar-nav">
            <div class="navbar-header"> 
                    <a class="navbar-brand" href="#">Altar Guild</a>
            </div>
      <li class="active"><a th:href="@{/banner/listall}">All Seasons<span class="sr-only">(current)</span></a></li>
      <li><a th:href="@{/eventhome}">Events Home</a></li>
      <li><a th:href="@{/guild/list}">Member information</a></li>
      <li><a th:href="@{/responsibilities/list}">Responsibilites</a></li>
      <li><a th:href="@{/admin/home}">Admin Page</a></li>
      <li><a th:href="@{/login/showLoginForm}">Logout</a></li>       
    </ul>
  </div>
</nav>
<body>
<div>
<a th:href="@{/banner/addBanner}" class="btn btn-success">Add Banner</a>
<form th:action="@{/banner/search}">
   <label>Season Name:</label>
   <select multiple="single" name="name1">  
 	<option th:value="'1'" th:text="Advent"></option>
    <option th:value="'2'" th:text="Christmas"></option>
    <option th:value="'3'" th:text="Epiphany-1"></option>
    <option th:value="'4'" th:text="Epiphany-2"></option>
    <option th:value="'5'" th:text="Epiphany-3"></option>
    <option th:value="'6'" th:text="AshWednesday"></option>  
    <option th:value="'7'" th:text="Lent"></option>  
    <option th:value="'8'" th:text="PalmSunday"></option>
    <option th:value="'9'" th:text="HolyThursday"></option>
    <option th:value="'10'" th:text="GoodFriday"></option>
    <option th:value="'11'" th:text="Easter"></option>
    <option th:value="'12'" th:text="Pentecost-1"></option>
    <option th:value="'13'" th:text="Trinity"></option>
    <option th:value="'14'" th:text="Pentecost-2"></option>
    <option th:value="'15'" th:text="St.Micheal"></option>
    <option th:value="'16'" th:text="Reformation"></option>
    <option th:value="'17'" th:text="AllSaintsDay"></option>
    <option th:value="'18'" th:text="Pentecost-3"></option>
    <option th:value="'19'" th:text="ThanksGiving"></option>
    <option th:value="'20'" th:text="Anytime"></option>
    <option th:value="'21'" th:text="LWML"></option>
    <option th:value="'22'" th:text="FourthofJuly"></option>
	<option th:value="'23'" th:text="Confirmation"></option>
	<option th:value="'24'" th:text="PatrioticHolidays"></option>
	<option th:value="'25'" th:text="Valentinesday"></option>		
	<option th:value="'26'" th:text="Weddings"></option>
</select>
    <button type="submit">Search</button>
</form>
</div>
<br />
<br />
<div class="container-fluid">
<div class="row">
<div class="col-sm-11 col-md-11 col-lg-11">
<table class="table table-bordered  table-striped">
<tbody>
<thead>
<tr class="table-active">
<th>Seasons</th>
<th>Type</th>
<th>Storage</th>
<th>Special Instructions</th>
<th>Scripture</th>
<th>Last Used</th>
<th>Paired With</th>
<th>Banner Image</th>
<th>History</th>
<th>Action</th>
</tr>
</thead>
<tr th:each="banner : ${banners}">
<td>
<th:block th:if="${banner.seasons} != null"  th:each="word1 : ${#strings.arraySplit(banner.seasons, ',')}">
	<div th:switch="${word1}"> 
		<p th:case="1">Advent</p>
		<p th:case="2">Christmas</p>
		<p th:case="3">Epiphany-1</p> 
		<p th:case="4">Epiphany-2</p> 
		<p th:case="5">Epiphany-3</p> 
		<p th:case="6">Ash Wednesday</p> 
		<p th:case="7">Lent</p>
		<p th:case="8">Palm Sunday</p> 
		<p th:case="9">Holy Thursday</p>
		<p th:case="10">Good Friday</p> 
		<p th:case="11">Easter</p>
		<p th:case="12">Pentecost-1</p>
		<p th:case="13">Trinity</p>
		<p th:case="14">Pentecost-2</p>
		<p th:case="15">St.Micheal</p>
		<p th:case="16">Reformation</p>
		<p th:case="17">All Saints Day</p>
		<p th:case="18">Pentecost-3</p>
		<p th:case="19">ThanksGiving</p>
		<p th:case="20">Anytime</p>
		<p th:case="21">LWML</p>
		<p th:case="22">Fourth of July</p>
		<p th:case="23">Confirmation</p>
		<p th:case="24">Patriotic Holidays</p>
		<p th:case="25">Valentines day</p>
		<p th:case="26">Weddings</p>		
	</div>    	
</td> 
<td th:text="${banner.type}">
<td th:text="${banner.storage}">
<td th:text="${banner.specialInstructions}">
<td th:text="${banner.scripture}">
<td th:text="${banner.lastUsed}">
<td><img style="height:200px; width: 200px;" th:if="${banner.pairID} != null"  th:src="@{${banner.pairID}}" /></td>
<td><img style="height:200px; width: 200px;" th:src="@{${banner.imageUrl}}" /></td>
<td th:text="${banner.history}">
<td>
<a class="btn btn-info" th:href="@{/banner/showFormUpdateBanner(bannerId=${banner.id})}" onclick="return deleteFunction()">Update</a>
<a class="btn btn-danger" th:href="@{/banner/delete(bannerId=${banner.id})}" onclick="return deleteFunction()">Delete</a>
</td>
</tr>
</th:block>
</tbody>
</table>
</div>
</div>
</div>
<script th:inline="javascript">
  function deleteFunction(){
  var password = prompt("Please enter valid password");
  
  if (password == "") {
   alert("Correct!");
   return true;
  }
  else{  
  alert("please enter correct password");
  return false;
  }
  }
</script>
</body>
</html>