<html xmlns:th="http://www.thymeleave.org">

<head>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/home.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body background="https://ak7.picdn.net/shutterstock/videos/3755297/thumb/1.jpg">
  <div class="container">
    <div class="row">                     
      <div class="col-sm-8">      
        <div class="alignment">
        <p class="textStyle">Select Church</p>
          <div class="container">
         	 <a th:href="@{/login/showLoginForm}" class="btn btn-success"><img class="imageSize" th:src="@{/images/luthern.png}"/></a>
            <button th:href="@{/login/showLoginForm}"></button>
            <p class="textStyle">Hope Lutheran Church</p>                
          </div>
          </br>
        <div class="container">
             <a th:href="@{/login/showLoginForm}" class="btn btn-danger"><img class="imageSize" th:src="@{/images/luthern.png}"/></a>
            <button th:href="@{/login/showLoginForm}"></button>
            <p class="textStyle"> Holy Trinity Lutheran Church </p>
        </div>
        </div>
      </div>      
    </div>
  </div>
</body>

</html>

<!--
<div class="col-sm-2"></div>
      <!-- The Modal 
      <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
          title="Close Modal">&times;</span>
       
      </div> 
<!-- Modal Content 
        <form class="modal-content animate" action="/action_page.php"></form>
        <div class="imgcontainer">
          <img th:src="@{/images/luthern.png}" style="width:200px;height:200px;" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
              <br>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div class="col-sm-2"></div>
            
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <button type="submit">Login</button>
            </div>
            <div class="col-sm-2"></div>
            
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
            <div class="col-sm-2"></div>
            

            <div class="col-sm-2"></div>
            <div class="col-sm-8">

              <div style="background-color:#f1f1f1"></div>
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                  class="cancelbtn">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        </form> -->