<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link th:href="@{/css/home1.css}" rel="stylesheet"/>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
        <ul class="nav navbar-nav">
            <div class="navbar-header"> 
                    <a class="navbar-brand" href="#">Altar Guild</a>
            </div>
      <li class="active"><a th:href="@{/eventhome}">Events Home</a><span class="sr-only">(current)</span></a></li>
      <li><a th:href="@{/banner/listall}">All Seasons</a></li>
      <li><a th:href="@{/guild/list}">Member information</a></li>
      <li><a th:href="@{/admin/home}">Admin Page</a></li>
      <li><a th:href="@{/responsibilities/list}">Responsibilites</a></li>
      <li><a th:href="@{/login/showLoginForm}">Logout</a></li>       
    </ul>
  </div>
</nav>
	<h2>FESTIVAL INFORMATION:</h2>
	<h3 th:inline="text">[[${fest.name}]]</h3>

	<div class="flex-container">

	<table class="table table-bordered  table-striped">
		<tbody>
		<thead>
			<tr class="table-danger">
				<th>Name</th>
				<th>First Reading</th>
				<th>Epistle</th>
				<th>Gospel</th>
			</tr>
		</thead>
		<tr th:each="festival : ${festivals}">
			<td th:text="${festival.name}">
			<td th:text="${festival.first_reading}">
			<td th:text="${festival.epistle}">
			<td th:text="${festival.gospel}">
		</tbody>
	</table>
	</div>
</body>