<!doctype html>
<html xmlns:th="http://www.thymeleave.org" xmlns:form="http://www.springframework.org/tags/form">
<head>
<title>Add Banner</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
<div class="col-sm-4">
<form th:action="@{save}" th:object="${banner1}" method="POST">
<div class="form-group">
<p> Enter the Banner information below</p>
<label>Name</label>
<input type="hidden" th:field="*{id}" />
<input type="text" class="form-control"  th:field="*{type}" placeholder="Type" />
<input type="text" class="form-control"  th:field="*{storage}" placeholder="Storage" />
<label>Special Instructions</label>
<input type="text" class="form-control"  th:field="*{specialInstructions}" placeholder="specialInstructions" />
<label>Scripture</label>
<input type="text" class="form-control"  th:field="*{scripture}" placeholder="scripture" />
<label>PairID (if any)</label>
<input type="text" class="form-control"  th:field="*{pairID}" placeholder="pairID" />
<label>ImageUrl</label>
<input type="text" class="form-control"  th:field="*{imageUrl}" placeholder="imageUrl" />
<select multiple="multiple" th:field="*{seasons}">
 	<option th:value="'1'" th:text="Advent"></option>
    <option th:value="'2'" th:text="Christmas"></option>
    <option th:value="'3'" th:text="Epiphany-1"></option>
    <option th:value="'4'" th:text="Epiphany-2"></option>
    <option th:value="'5'" th:text="Epiphany-3"></option>
    <option th:value="'6'" th:text="AshWednesday"></option>  
    <option th:value="'7'" th:text="Lent"></option>  
    <option th:value="'8'" th:text="PalmSunday"></option>
    <option th:value="'9'" th:text="HolyThursday"></option>
    <option th:value="'10'" th:text="GoodFriday"></option>
    <option th:value="'11'" th:text="Easter"></option>
    <option th:value="'12'" th:text="Pentecost-1"></option>
    <option th:value="'13'" th:text="Trinity"></option>
    <option th:value="'14'" th:text="Pentecost-2"></option>
    <option th:value="'15'" th:text="St.Micheal"></option>
    <option th:value="'16'" th:text="Reformation"></option>
    <option th:value="'17'" th:text="AllSaintsDay"></option>
    <option th:value="'18'" th:text="Pentecost-3"></option>
    <option th:value="'19'" th:text="ThanksGiving"></option>
    <option th:value="'20'" th:text="Anytime"></option>
    <option th:value="'21'" th:text="LWML"></option>
    <option th:value="'22'" th:text="Fourth of July"></option>
	<option th:value="'23'" th:text="Confirmation"></option>
	<option th:value="'24'" th:text="Patriotic Holidays"></option>
	<option th:value="'25'" th:text="Valentines day"></option>		
	<option th:value="'26'" th:text="Weddings"></option>		
	
</select>
<!-- <select id="multiSelectElementsSelected"
            name="multiSelectElementsSelected"
            multiple="multiple"
            th:field="*{seasons}">

        <option th:each="season : ${seasons}"
                th:value="${season.getId()}"
                th:text="${season.getname()}"></option>
</select> -->
<table>
			<tr>
<!-- <td>Seasons :</td>
				<td><form:select path="seasons" items="${seasons}"
					multiple="true" />
					</td>
					</tr>
					</table> -->

<!-- <select name="seasons" th:field="*{seasons}">
<option th:each="season : ${seasons}" 
th:value="${season.Id}" th:text="${season.name}"></option>
</select>  -->

<br />
<button type="submit" class="btn btn-success">Save</button>
</div>
</form>
<form method="post" enctype="multipart/form-data" action="/banner/uploadImage">
<input type="file" name="imageFile">
<input type="submit" value="upload" />
</form>
</div>
</div>
</body>
</html>
