<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Add Form</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
        <ul class="nav navbar-nav">
            <div class="navbar-header"> 
                    <a class="navbar-brand" href="#">Altar Guild</a>
            </div>
      <li class="active"><a th:href="@{/banner/listall}">All Seasons</a><span class="sr-only">(current)</span></a></li>
      <li><a th:href="@{/eventhome}">Events Home</a></li>
      <li><a th:href="@{/guild/list}">Member information</a></li>
      <li><a th:href="@{/admin/home}">Admin Page</a></li>
      <li><a th:href="@{/responsibilities/list}">Responsibilites</a></li>
      <li><a th:href="@{/login/showLoginForm}">Logout</a></li>       
    </ul>
  </div>
</nav>
<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-4">
<form th:action="@{save}" name="myform" th:object="${resp}" method="POST" >
<div class="form-group">
<p> Enter the Guild member information below</p>
<label>Month</label>
<input type="hidden" th:field="*{id}" />
<input type="text" class="form-control" id="myname" th:field="*{month}" placeholder="Month" />
<label>Season</label>
<input type="text" class="form-control" id="myphone" th:field="*{season}" placeholder="Season" />
<label>Members</label>
<input type="text" class="form-control" id="myemail" th:field="*{members}" placeholder="Members" />
<label>Responsibilities</label>
<input type="text" class="form-control" id="myemail" th:field="*{tasks}" placeholder="Responsibilities" />
<br />
<button type="submit" class="btn btn-success">Save</button>
</div>
</form>
</div>
</div>
</body>
</html>
