<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Guild Member Responsibilities page</title>
<meta charset="UTF-8">
</head>

<form th:action="@{save}" th:object="${responsibilities}" method="POST">
<label>Responsibilities</label>
<select >
  <option th:each="res : ${responsibilities}" 
          th:value="${res.month}" 
          th:text="${res.month}"></option>
</select>
<select multiple="single" th:field="*{month}">
    <option th:value="'January'" th:text="January"></option>
    <option th:value="'Beth'" th:text="Beth"></option>
    <option th:value="'Gary'" th:text="Gary"></option>
    <option th:value="'Zac'" th:text="Zac"></option>    
</select>

<select multiple="multiple" th:field="*{names}">
    <option th:value="'Jean'" th:text="Jean"></option>
    <option th:value="'Beth'" th:text="Beth"></option>
    <option th:value="'Gary'" th:text="Gary"></option>
    <option th:value="'Zac'" th:text="Zac"></option>    
</select>
<button type="submit" class="btn btn-success">Save</button>
</form>

</html>