.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .card {
    display: inline-block;
  }
.scrolling-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  * The navigation bar */
.navbar {
  float: right;
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; }


.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 30px; 
}
