<html xmlns:th="http://www.thymeleave.org">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link th:href="@{/css/home1.css}" rel="stylesheet"/>
 </head>
 <body>
  <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Altarguild</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">All Seasons<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Events Home</a>
      <a class="nav-item nav-link" th:href="@{/guild/list}">Member information</a>
      <a class="nav-item nav-link" th:href="@{/admin/home}">Admin Page</a>
      <a class="nav-item nav-link" th:href="@{/login/showLoginForm}">Logout</a>
    </div>
  </div>
</nav>
  <h3>ADVENT:</h3>
  <div class="scrolling-wrapper">
    <div class="card"><a th:href="@{/resources/templates/show-banner.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
    <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>CHRISTMAS:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>


<h3>EPIPHANY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>ASH WEDNESDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>LENT:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>PALM SUNDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>HOLY THURSDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>GOOD FRIDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>EASTER:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>PENTECOST:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>TRINITY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>ST. MICHAEL:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>REFORMATION:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>ALL SAINTS'S DAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>THANKSGIVING:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

</body>
</html>