<html xmlns:th="http://www.thymeleave.org">

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/allseasons.css}"/>
  
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <!--Navbar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
            <div class="navbar-header"> 
                    <a class="navbar-brand" href="#">Altar Guild</a>
                  </div>
      <li ><a href="#">HOME</a></li>
      <li class="active"><a href="#">ALL SEASONS</a></li>
      <li><a href="#">MEMBER INFORMATION</a></li>
      <li><a href="#">ADMIN PAGE</a></li>
    </ul>
  </div>
</nav>
  <!-- Nav Bar Ends-->


</head>



<!--<table th:each="key: ${map.keySet()}" class="table table-bordered  table-striped">
<tbody>
<thead th:text="${key}" >
</thead>
<tr th:each = "banner :${map[${key}]}">
<td th:href = "@{/banner/list} + ${banner.id}"><img src = "${banner.getImage()}"  ></img></td>
<td>
</td>
</tbody>
</table>-->


<body>
  <h3>ADVENT:</h3>
  <div class="scrolling-wrapper">
    <div class="card"><a th:href="@{/resources/templates/show-banner.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
    <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>CHRISTMAS:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>


<h3>EPIPHANY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>ASH WEDNESDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>LENT:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>PALM SUNDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>HOLY THURSDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>GOOD FRIDAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>EASTER:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>PENTECOST:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>TRINITY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>ST. MICHAEL:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>REFORMATION:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>ALL SAINTS'S DAY:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

<h3>THANKSGIVING:</h3>
<div class="scrolling-wrapper">
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
  <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/images/church.png}" style="width:200px;height:200px;"/></a></div>
</div>

</body>
</html>