<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Spring Boot Thyme App</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
                <form th:action="@{save}"
                th:object="${member}" method="POST">
                <div class="form-group" class="col-sm-8">
                <p> Enter the Banner information below</p>
                <label>Name</label>
                <input type="hidden" th:field="*{id}" />
                <input type="text" class="form-control"  th:field="*{name}" placeholder="Banner Name" />
                <input type="text" class="form-control"  th:field="*{location}" placeholder="Location" />
                <label>Email</label>
                <input type="text" class="form-control"  th:field="*{scripture}" placeholder="Scriptures" />
                <br/>
                <button type="submit" class="btn btn-success">Save</button>
                </div>
                </form>
                <div class="col-sm-2"></div>
        </div>

    </div>


<!-- 
name:
<input type="text" value="Enter your name" name="Name" />
Last Name:
<input type="text" value="Where is this banner?="location" />
Email:
<input type="text" value="What scripture is associated with this banner?" name="Scripture" />
<input type="submit" value="Submit" />
 -->

</body>
</html>
