<html xmlns:th="http://www.thymeleave.org">

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!--link rel="stylesheet" th:href="@{/css/home.css}" /-->
    <link rel="stylesheet" href="C:\Users\s534119\Desktop\AltarGuildProject\altarguild\src\main\resources\static\css\home1.css">

</head>
<!--Navbar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"> 
      <a class="navbar-brand" href="#">Altar Guild</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">All Seasons</a></li>
      <li><a href="#">Member Information</a></li>
      <li><a href="#">Admin Page</a></li>
    </ul>
  </div>
</nav>
  <!-- Nav Bar Ends-->
<body>
    <h3>FESTIVALS:</h3>
        <div class="scrolling-wrapper">

                <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/resources/images/church.png}" style="width:200px;height:200px;"/></a></div>
        </div>
    <h3>RESPONSIBILITIES:</h3>
        <div class="scrolling-wrapper">
            
                <div class="card"><a th:href="@{/resources/templates/festivalinfo.html}"><img th:src="@{/resources/images/church.png}" style="width:200px;height:200px;"/></a></div>
        </div>



</body>
</html>