<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Guild Members page</title>
<link rel="stylesheet" th:href="@{/css/member.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Member info</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">    
    </div>
  </div>
</nav>
<div class="container">
<a  class="btn btn-success" onclick="myFunction()">Add Guild Member</a>
<br />
<br />
<table class="table table-bordered  table-striped">
<tbody>
<thead>
<tr class="table-danger">
<th>Name</th>
<th>Phone</th>
<th>Email</th>
<th>Action</th>
</tr>
</thead>
<tr th:each="mem : ${members}">
<td th:text="${mem.name}">
<td th:text="${mem.phone}">
<td th:text="${mem.email}">
<td>
<a class="btn btn-info" th:href="@{/guild/showFormForUpdate(guildId=${mem.id})}" onclick="deleteFunction()">Update</a>

<a class="btn btn-danger" th:href="@{/guild/delete(guildId=${mem.id})}" 
onclick="if(!(deleteFunction())) return true">Delete</a>
<!--
<a class="btn btn-danger" th:onclick="deleteFunction() " method = "post"  >Delete</a>
-->
</td>
</tbody>
</table>
</div>
<script th:inline="javascript">
function myFunction() {
  var password = prompt("Please enter valid password");
  if (password == "12345") {
 window.location = "/guild/showFormForAdd";
  }
  else{
  alert("please enter correct password");
  }
  }
  function deleteFunction(){
  var password = prompt("Please enter valid password");
  
  if (password == "12345") {
   alert("Right!");
 return true;
  }
  else{
  
  alert("please enter correct password");
  
  return false;
  }
  }
</script>
</body>
</html>