<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>New Banner</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-4">
<form th:action="@{save}"
th:object="${member}" method="POST">
<div class="form-group">
<p> Enter the Banner information below</p>
<label>Name</label>
<input type="hidden" th:field="*{id}" />
<input type="text" class="form-control"  th:field="*{name}" placeholder="Banner Name" />
<label>Where to find?</label>
<input type="text" class="form-control"  th:field="*{where to find?}" placeholder="where to find" />
<label>Special Instructions</label>
<input type="text" class="form-control"  th:field="*{Special Instructions}" placeholder="Special Instructions" />
<label>Banner History</label>
<input type="text" class="form-control"  th:field="*{name}" placeholder="Banner History" />
<label>Upload Image:</label><br/>
<input type="file" name="pic" accept="image/*">
<br/></br>
<button type="submit" class="btn btn-success">Add Banner</button>
</div>
</form>
</div>
</div>
</body>
</html>
