<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Spring Boot Thyme App </title>
<link rel="stylesheet" th:href="@{/css/student.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student info</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">    
    </div>
  </div>
</nav>
<div class="container">
<a th:href="@{/banner/addBanner}" class="btn btn-success">Add Banner</a>
<br />
<br />
<table class="table table-bordered  table-striped">
<tbody>
<thead>
<tr class="table-danger">
<th>Type</th>
<th>Storage</th>
<th>specialInstructions</th>
<th>scripture</th>
<th>pairID</th>
<th>imageUrl</th>
<th>seasons</th>
</tr>
</thead>
<tr>
<td th:text="${banner1.type}">
<td th:text="${banner1.storage}">
<td th:text="${banner1.specialInstructions}">
<td th:text="${banner1.scripture}">
</td>
<tr th:each="season : ${seasons}">
<td th:text="${season}">
</tr>
</tbody>
</table>
<a class="btn btn-info" th:href="@{/banner/showFormUpdateBanner(bannerId=${banner1.id})}">Update Banner</a>
<a class="btn btn-danger" th:href="@{/banner/delete(bannerId=${banner1.id})}" 
onclick="if(!(confirm('Confirm to delete'))) return true">Delete Banner</a>
</div>
</body>
</html>