<!doctype html>
<script src = "/js/showLoginForm.js" ></script>
<html xmlns:th="http://www.thymeleave.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <div class="col-sm-12">
      <h2>Login Form</h2> 
    </div>
    <div class="col-sm-4">
              
            <input type="text" id = "username" class="textbox email_address_field" name="" placeholder="Enter Your Username" required=""><br><br>
            <input type="password" id = "password" class="textbox email_address_field" name="" placeholder="Enter Your Password" required=""><br><br>                         
            <input type="button" value="Login" id="submit" onclick="validate()"/>                                   
    </div>
  </div>
</body>

</html>	