<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="C:\Users\s534119\Desktop\AltarGuildProject\altarguild\src\main\resources\static\css\responsibilities.css">
        <link th:href="@{/css/responsibilities.css}" rel="stylesheet"/>
<!-- Nav bar -->
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header"> 
            <a class="navbar-brand" href="#">Altar Guild</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">All Seasons</a></li>
            <li><a href="#">Member Information</a></li>
            <li><a href="#">Admin Page</a></li>
          </ul>
        </div>
      </nav>
        <!-- Nav Bar Ends-->

    <body>
        <h3>@MONTHNAME:</h3>
        <div class="h">
        <button type="button" class="btn btn-dark">EDIT INFO</button>
        </div>
        <br>
        <br>
        <div>
            <button type="button" class="btn btn-secondary btn-lg">@FESTIVALNAME</button>
            <button type="button" class="btn btn-secondary btn-lg">@FESTIVALNAME</button>
        </div>
        <h3>ASSIGNED MEMBERS:</h3>
        <div class="flex-container">
            <div style="flex-grow: 1"> @MEMBERSINFO </div>            
          </div>
          <div class="flex-container">
            <div style="flex-grow: 1"> @MEMBERSINFO </div>            
          </div>
          <h3>RESPONSIBILITIES:</h3>
        <div class="flex-container">
            <div style="flex-grow: 1"> @TASKS TO DO </div>            
          </div>

    
    </body>
    </html>