<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Add Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-4">
<form th:action="@{save}" name="myform" th:object="${member}" method="POST" >
<div class="form-group">
<p> Enter the Guild member information below</p>
<label>Name</label>
<input type="hidden" th:field="*{id}" />
<input type="text" class="form-control" id="myname" th:field="*{name}" placeholder="First Name" />
<label>Phone</label>
<input type="text" class="form-control" id="myphone" th:field="*{phone}" placeholder="Phone" />
<label>Email</label>
<input type="text" class="form-control" id="myemail" th:field="*{email}" placeholder="Email" />
<br />
<button type="submit" class="btn btn-success" onclick="validate()">Save</button>
</div>
</form>
</div>
</div>

<script>
function validate(){
var x = document.getElementById("myname").value;
var y = document.getElementById("myphone").value;
var z = document.getElementById("myemail").value;
if(x === "" |  y === "" | z === ""){
	console.log('Testing if condition');
	alert("please fill entire form");
	return false;
}
}
</script>
</body>
</html>
