<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
</head>
<body>
    <div>         
            <input type="text" class="textbox email_address_field" name="" placeholder="Enter Your Username" required=""><br><br>
            <input type="password" class="textbox email_address_field" name="" placeholder="Enter Your Password" required=""><br><br>
            <input type="button" th:action="@{/events}"  name="Submit" value="submit" required="">                           
    </div>
</body>

</html>